{% extends "base.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><i class="fa fa-home"></i><a href="{{ SITEURL }}/index.html">主页</a></li>
  <li><i class="fa fa-bars"></i><a href="{{ SITEURL }}/{{category.url}}">{{ category}}</a></li>
</ol>
{% if articles %}

  {% for article in articles_page.object_list %}
    {% if loop.first and not articles_page.has_previous() %}
      <article>
      <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h3>

      {{ article.content }}

      <p class="info">
      {% include 'block_article_info.html' %}
      </p>

      {% if DISQUS_SITENAME %}
        <aside id="comment-count"><p>
        {% include 'block_disqus_count.html' %}
        </p></aside>
      {% endif %}
      </article>

      {% if DEFAULT_PAGINATION and loop.length == 1 and articles_page.has_next() %}
        <nav >
          {% include 'block_pagination.html' %}
        </nav>
      {% endif %}

    {% else %}
      <article>
      <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h3>

      {{ article.summary }}

      {% if article.content|length > article.summary|length %}
        <p><a class="btn btn-mini btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read more</a></p>
      {% endif %}

      <p class="info">
      {% include 'block_article_info.html' %}
      </p>

      {% if DISQUS_SITENAME %}
        <aside id="comment-count"><p>
        {% include 'block_disqus_count.html' %}
        </p></aside>
      {% endif %}
      </article>

      {% if DEFAULT_PAGINATION and loop.last and (articles_page.has_previous() or articles_page.has_next()) %}
        <nav class="pagination">
          {% include 'block_pagination.html' %}
        </nav>
      {% endif %}

    {% endif %}
    <hr/>
  {% endfor %}
{% endif %}
{% endblock content %}
